# Udev rule for the Pico
SUBSYSTEMS=="usb", ATTRS{manufacturer}=="Arduino (www.arduino.cc)", ATTRS{idProduct}=="0043", SYMLINK+="pico pico_$attr{devpath}", MODE="0777"
