# Udev rule for the Pico
SUBSYSTEMS=="usb", ATTRS{manufacturer}=="Raspberry Pi", ATTRS{idProduct}=="000a", SYMLINK+="pico pico_$attr{devpath}", MODE="0777"
