# Udev rule for the VectorNav
ACTION=="add" SUBSYSTEMS=="usb", ATTRS{manufacturer}=="FTDI", ATTRS{idProduct}=="6001", SYMLINK+="vectornav vectornav_$attr{devpath}", MODE="0666"
